.DS_Store
.env
.venv/
*.pyc
*.pyo

__pycache__/
backend/.env
backend/.venv/
client/node_modules/
client/dist/
client/.env
client/.env.production
client/.env.*.local
client/*.tsbuildinfo
website/node_modules/
website/build/
website/.docusaurus/
website/.cache-loader/
infra/local/.env
